*{
    margin: 0;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background: grey;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 50px;

}
.titulo{
    color: orange;
    font-size: 50px;

}
.menu a{
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.6s;
}
.menu a:hover{
    color: black;
}
.mostrar-menu,.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.servicios{
    margin: 20px 150px;
background: #F5F2F2;
border-radius: 20px;

}
.servicios h2{
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    width: 150px;
  border-radius: 10px;
    margin-left:  700px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 0 0 #00000033;
}
.servicios img{
  width: 800px;
 
  padding: 50px 400px;

  
    align-items: center;
}
.servicios h3{
    padding: 20px 80px;
}
.servicios p{
    padding: 10px 30px;
    text-align: center;
}
.info-taller{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background: black;
    color: white;
}
.info-taller{
    padding: 10px 20px;
}
.info-celu,.info-email,.info-direccion,.info-ig{
    display: flex;
    
}
.info-celu,.info-email,.info-direccion,.info-ig {
    padding-left: 20px;
}
.cont-info{
    padding: 20px 400px;
    display: flex;
}
.cont-info i,.cont-info h3{
    padding: 20px 5px;
}
.cont-info a{
    padding: 20px 5px;
    color: white;
}
.titulo-info{
    color: orange;
    text-transform: uppercase;
}
.menufinal{
    background: gray;
    margin: 0px 200px;
}
.menu-2{
    text-align: center;
    justify-content: space-between;
    padding: 10px 0px;
  

}
.menu-2 a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 20px;
    transition: all 0.6s;
    
   
}
.menu-2 a:hover{
    color: black;
}
@media (max-width:768px) {
  

    .esconder-menu,.mostrar-menu{
        display: block;
    }
    .menu{
        position: fixed;
         width: 100%; 
        height: 100vh;
        background: url(./imagenes/fondohamburguesa.jpg);
        background-size: cover;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
      
       
    }
    .menu a{
display: block;
padding: 20px;

    }
    .esconder-menu{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #check:checked~.menu{
        right: 0;
    }
    .servicios{
        margin: 20px;
    }
    .servicios h2{
        margin-left:80px;
    }
    .servicios img{
        width: 80%;
        padding: 5px 50px;
    }
    .servicios h3{
        font-size: 18px;
        text-align: center;
    }
    .servicios p{
        padding: 20px 20px;
    }
    .info-taller{
        margin: 0px 20px;
    }
   .cont-info{
    padding: 0px;
    flex-direction: column;
   }
   .menufinal{
    margin: 0 20px;
   }
   .menu-2{
    display: flex;
    flex-direction: column;
    margin: 0;
}

}